<h1>{{requestType}} request report</h1>

<hr>

<h2>Request URL</h2>

<p><code>{{path}}</code></p>

<hr>

<h2>Query Parameters</h2>

{{#unless queryParams}}
<p>This request did not have query parameters.</p>
{{/unless}}

<ul>
  {{#each queryParams}}
  <li><code>{{@key}}</code> had a value of <code>{{this}}</code>.</li>
  {{/each}}
</ul>

{{#if bodyParams}}
<hr>

<h2>Body Parameters</h2>

<ul>
  {{#each bodyParams}}
  <li><code>{{@key}}</code> had a value of <code>{{this}}</code>.</li>
  {{/each}}
</ul>
{{/if}}
